@charset "UTF-8";
.mobheader {
  background: #333;
  display: none;
}
.logo__social a:last-child {
  color: #fff;
  font-weight: 700;
  padding-top: 3px;
}
.intro__badge_1 {
  left: 40px;
}
.intro__badge_2 {
  right: calc(100% - 17px);
}
.options > span {
  width: calc(11% - 10px);
  margin-right: 10px;
  min-width: 100px;
}
.button_e,
.button_ebig {
  text-align: center;
  line-height: 1rem;
  padding-left: 5px;
  padding: 14px 5px;
  font-weight: 700;
  font-size: 0.7rem;
}

.button_e img {
  position: static;
  margin: 0 auto 10px;
  display: block;
  transform: none;
  left: 12px;
  width: 30px;
  height: 30px;
}
.windowsills {
  justify-content: space-evenly;
  margin-bottom: 0;
}
.windowsills div {
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.9rem;
  margin: 0 10px;
}
.windowsills img {
  max-width: 100px;
  margin: 10px auto;
}

.artimage-slides {
  display: -webkit-box;
  display: flex;
}
.artimage-slides img {
  height: 509px;
  -o-object-fit: cover;
  object-fit: cover;
}
.tree__img > img {
  max-width: 100px;
  border: solid 5px #fff;
  box-shadow: 0 13px 16px rgba(145, 117, 86, 0.32);
  border-radius: 18px;
}
a.tkachuk {
  color: #ffc700;
}
.button_f {
  position: relative;
}
.hamburger,
.menu_phone {
  display: none;
}

.messengers {
  display: flex;
  margin: 10px auto 0;
  max-width: 250px;
}
.messengers a {
  width: 50%;
  padding: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.9rem;
}
.messengers img {
  margin-right: 5px;
  width: 25px;
}
.viber {
  background: #7360f2;
  border-radius: 30px 0 0 30px;
}
.telegram {
  background: #0088cc;
  border-radius: 0 30px 30px 0;
}
#products-door .photo-product {
  position: relative;
}
.door_types {
  position: absolute;
  right: -20px;
  bottom: -20px;
  z-index: 2;
}
.door_types img {
  max-width: 250px;
}

.pageup {
  color: #000;
  text-shadow: 0 0 7px #000;
}
.modal__window {
  max-width: 420px;
}
.win {
  padding: 50px 40px;
  max-width: 420px;
}
.center {
  text-align: center;
  margin-top: 40px;
}
.socs a:nth-child(2),
.socs a:nth-child(4),
.socs a:nth-child(5) {
  display: none;
}

@media only screen and (max-width: 992px) {
  .door_types {
    right: 10px;
    bottom: -20px;
  }
  .door_types img {
    max-width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    display: block;
    background: #333;
    position: fixed;
  }
  .header__contacts {
    display: none;
  }
  .header__logo {
    width: 100%;
  }
  .header__content {
    height: 90px;
  }
  .logo__image img {
    width: 100px;
  }
  .logo__text {
    left: 55px;
    font-size: 0.7rem;
    top: 0;
  }
  .logo__social {
    right: 0;
    left: auto;
    bottom: -10px;
  }

  .welcome {
    padding: 140px 0 40px;
  }

  .menu_phone {
    z-index: 111;
    position: fixed;
    right: 30px;
    bottom: 150px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%);
    flex-direction: column;
  }

  .menu_phone a {
    background: #12772a;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: -webkit-box;
    display: flex;
    align-items: start;
    padding-top: 10px;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 10px;
  }
  .menu_phone li:nth-child(1) a {
    background: #00a0ff;
  }
  .menu_phone li:nth-child(2) a {
    background: #f91600;
  }
  .menu_phone li:nth-child(3) a {
    background: #104e9f;
  }
  .menu_phone img {
    max-width: 30px;
  }
  .menu_phone.active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .hamburger {
    z-index: 111;
    display: block;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 70px;
    height: 70px;
    background: #ffc700;
    border-radius: 50%;
    -webkit-transition: left 0.35s ease;
    -o-transition: left 0.35s ease;
    transition: left 0.35s ease;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 10px #666;
    -webkit-box-shadow: 0 0 10px #666;
  }
  .hamburger img {
    max-width: 100%;
  }
  .hamburger .close {
    position: absolute;
    top: calc(50% - 10px);
    width: 20px;
    left: calc(50% - 10px);
    opacity: 0;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
  }

  .hamburger.active img {
    opacity: 0;
  }
  .hamburger.active .close {
    opacity: 1;
  }

  .intro {
    padding-bottom: 100px;
  }
  .intro__header {
    font-size: 1.7rem;
  }
  .intro__content {
    position: static;
  }
  .intro__act {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 135px);
  }
  .intro__decor {
    position: static;
    padding: 30px;
    display: block;
    text-align: right;
  }

  .intro__decor > img {
    display: inline-block;
    width: 200px;
  }
  .intro__badge_1 {
    bottom: 300px;
    right: 170px;
    left: auto;
  }
  .intro__badge_2 {
    bottom: 180px;
    left: auto;
    right: 110px;
  }
  .pageup {
    left: calc(50% - 33.5px);
    bottom: 20px;
    width: 67px;
    background: #ffc700;
  }
  .pageup > span {
    display: none;
  }
}

@media only screen and (max-width: 575.98px) {
  .rules1997 {
    padding-bottom: 150px;
  }
  .articlenav {
    position: absolute;
    margin: 0;
    left: calc(50% - 108px);
    bottom: -90px;
  }
  .rules1997 .article-image {
    padding-right: 0;
  }
  .artimage-slides img {
    height: 400px;
  }
  .trees__item {
    width: calc(50% - 8px);
  }
  .promo {
    display: block;
    padding: 40px 20px;
  }
  .promo__text {
    position: relative;
  }
  .promo__img {
    width: 250px;
    display: block;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: 30%;
    position: static;
    margin: -100px auto 0;
  }
  .promo__act {
    margin-top: 20px;
    text-align: center;
  }
  .partners__item {
    width: calc(50% - 30px);
  }
  .select-linelist .button {
    width: 43%;
    min-width: 0;
  }
  #allproducts.section {
    padding-top: 0;
  }
}

.win__close {
  position: absolute;
  top: -18px;
  right: -18px;
  background-image: url(../img/close.svg);
  background-size: cover;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  outline: none;
}

#countries-list {
  transition: opacity 0.5s;
}

@media only screen and (max-width: 575.98px) {
  .win__close {
    top: 0;
    right: 0;
    background-color: #fbfbfb;
    border-radius: 0;
  }
}
