.about {
  display: flex;
  padding: 111px 0;
  padding-bottom: 0;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    padding-top: 0;
  }
}

.about__content {
  width: 54%;
  padding-right: 100px;
  box-sizing: border-box;
  position: relative;
  @include media-breakpoint-down(md) {
    width: 100%;
    padding-right: 0;
    margin-bottom: 50px;
  }
}

.about__map {
  width: 46%;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.about__map-bg {
  width: 46%;
  background-image: url(../img/576.png);
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.about__gmap {
  width: 493px;
  height: 493px;
  position: relative;
  z-index: 2;
  left: -45px;
  @include media-breakpoint-down(md) {
    width: 100%;
    position: static;
  }
  @include media-breakpoint-down(xs) {
    height: 300px;
  }
  &::after {
    content: "";
    border: 10px solid $color-a;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translate(130px, -70px);
    z-index: -1;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
