.accent {
  display: flex;
  align-items: center;
}

.accent__text {
  font-size: 0.9375rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 18px;
  box-sizing: border-box;
}
