.article-image {
  padding-top: 62px;
  padding-right: 65px;
  box-sizing: border-box;
}

.article-image__img {
  position: relative;
  & > img {
    max-width: 100%;
  }
  &::before {
    content: "";
    top: -54px;
    right: -60px;
    position: absolute;
    bottom: 54px;
    left: 80px;
    border: 10px solid $color-f;
    z-index: -1;
  }
}

.article-image__symb {
  background-color: $color-a;
  width: 127px;
  height: 127px;
  position: absolute;
  top: 65px;
  left: -75px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px transparentize($color: $color-h, $amount: 0.35);
  @include media-breakpoint-down(xs) {
    width: 65px;
    height: 65px;
    top: 25px;
    left: -37px;
  }
  &::after {
    content: "";
    width: 53px;
    height: 53px;
    position: absolute;
    background-color: $color-h;
    left: -11px;
    bottom: -23px;
    z-index: -1;
    @include media-breakpoint-down(xs) {
      width: 30px;
      height: 30px;
      bottom: -15px;
    }
  }
}
