.article {
  display: flex;
  justify-content: space-between;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.article__text {
  width: 46%;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.article__image {
  width: 54%;
  padding-left: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-top: 50px;
    padding-left: 50px;
    justify-content: center;
  }
}

.article_rev {
  flex-direction: row-reverse;
  .article__text {
    padding-left: 28px;
    box-sizing: border-box;
    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }
}

.article__image_rev {
  padding-left: 70px;
  padding-right: 0;
  justify-content: flex-start;
  @include media-breakpoint-down(sm) {
    padding-right: 0;
  }
  .article__image {
    padding-right: 0;
  }
  .article-image__symb {
    left: auto;
    right: -95px;
    &::after {
      left: auto;
      right: -11px;
      bottom: -23px;
    }
    @include media-breakpoint-down(xs) {
      width: 65px;
      height: 65px;
      top: 25px;
      right: -37px;
    }
  }

  .article-image__img {
    &::before {
      top: -55px;
      right: 60px;
      bottom: 55px;
      left: -70px;
      @include media-breakpoint-down(xs) {
        top: -50px;
        right: 26px;
        bottom: 55px;
        left: -50px;
      }
    }
  }
}

.article_accent {
  .article__text {
    width: 48%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  .article__image {
    width: 60%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}
