.article-subheader {
  margin-top: 70px;
  margin-bottom: 34px;
}
.article-subheader_m {
  max-width: 470px;
  line-height: 1.5rem;
  @include media-breakpoint-down(sm) {
    max-width: none;
    margin-top: 50px;
    text-align: center;
  }
}

.article-subheader_auto {
  max-width: none;
  margin-top: 40px;
}
