.badge {
  width: 178px;
  height: 175px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 12px;
  @include media-breakpoint-down(md) {
    transform: scale(0.8);
  }
  @include media-breakpoint-down(sm) {
    transform: scale(0.6);
  }
}

.badge__percent {
  font-size: 2.25rem;
  font-weight: 800;
  color: #fff;
  text-shadow: 2px 2px 0px $color-c;
  & > span {
    font-size: 1.3125rem;
  }
}

.badge__name {
  font-weight: 800;
  color: #fff;
  margin-top: 5px;
  text-align: center;
  position: relative;
}
.badge__icon {
  position: absolute;
  bottom: 100%;
  left: 100%;
}
