.contacts-item {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.125rem;
  margin-top: 17px;
  & > span {
    display: inline-flex;
    align-items: center;
    margin-right: 25px;
    & > img {
      margin-right: 8px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
