.decor {
  position: absolute;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.decor_1 {
  bottom: -192px;
  left: -460px;
}

.decor_2 {
  left: 100%;
  top: -58%;
}

.decor_3 {
  bottom: -269px;
  left: -552px;
}

.decor_4 {
  top: 61px;
  right: -65px;
}

.decor_5 {
  left: -350px;
  bottom: -79px;
}

.decor_6 {
  left: -481px;
  top: -272px;
}
.decor_7 {
  right: -228px;
  top: -244px;
}
.decor_8 {
  left: -348px;
  bottom: -414px;
}
.decor_9 {
  left: -20px;
  top: -25px;
}
.decor_10 {
  right: -392px;
  top: 0;
}

.decor_11 {
  top: -300px;
  left: -200px;
}
.decor_12 {
  bottom: -370px;
  left: -411px;
}
.decor_13 {
  bottom: -370px;
  right: -711px;
}
.decor_14 {
  bottom: -88px;
  left: -53px;
}
.decor_15 {
  top: -40px;
  right: 165px;
}
.decor_16 {
  left: -58px;
  bottom: -10px;
}
.decor_17 {
  left: 600px;
  top: 50px;
}
.decor_18 {
  left: 591px;
  bottom: -55px;
}
.decor_19 {
  right: -866px;
  bottom: -55px;
}
.decor_20 {
  top: -500px;
  left: -500px;
}
.decor_21 {
  bottom: -100px;
  right: -700px;
}
.decor_22 {
  top: 00px;
  right: -300px;
}
.decor_23 {
  top: -300px;
  left: -200px;
}
.decor_24 {
  top: 120px;
  left: -30px;
}
.decor_25 {
  bottom: 30px;
  right: -400px;
}
.decor_26 {
  bottom: 20px;
  right: 340px;
}
.decor_27 {
  bottom: -620px;
  right: -240px;
}
.decor_28 {
  bottom: -20px;
  right: -330px;
}
.decor_29 {
  top: 240px;
  left: -300px;
  z-index: 1;
}
.decor_30 {
  top: -200px;
  right: -360px;
  z-index: 1;
}

.decor_31 {
  top: -100px;
  right: -360px;
  z-index: 1;
}
.decor_32 {
  top: -110px;
  left: -360px;
  z-index: 1;
}

.decor_33 {
  top: -300px;
  right: -300px;
}
