.footer {
  background-color: #000;
  padding: 75px 0;
}

.footer__header {
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: #fff;
  text-align: center;
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
    line-height: 2.35rem;
  }
  @include media-breakpoint-down(xs) {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.footer__copy {
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  margin-top: 50px;
}
