.formcomplete {
  display: none;
}
.formcomplete_ok {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    line-height: 1.5rem;
    background-color: white;
    font-weight: 800;
    text-align: center;
    span {
      font-size: 1.4rem;
    }
    img {
      max-width: 85px;
      margin-bottom: 20px;
    }
  }
}

.formcomplete_error {
  text-align: center;
  margin-top: 20px;
  font-weight: 800;
  color: red;
}
