.header-wadd {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @include media-breakpoint-down(md) {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.header-wadd__add {
  padding-bottom: 10px;
  @include media-breakpoint-down(md) {
    margin-top: 30px;
    padding-bottom: 0;
  }
  .button {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}
