.listcheck {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listcheck__item {
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  padding-left: 2.25rem;
  margin-bottom: 24px;
  text-transform: uppercase;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
  &::before {
    content: "";
    background-image: url(../img/icons8_checked_24px.png);
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 0;
  }
}
