.mobcontacts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -5px;
  max-width: 334px;
}

.mobcontacts__item {
  width: 50%;
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
  transition: opacity 0.5s;
  @include media-breakpoint-down(xs) {
    width: 100%;
    justify-content: flex-end;
    &:nth-child(3) {
      display: none;
    }
    &:nth-child(4) {
      display: none;
    }
  }
  &:hover {
    opacity: 0.5;
  }
  & > img {
    max-width: 11px;
  }
  & > span {
    color: #fff;
    margin-left: 13px;
    line-height: 1;
  }
}
