.mobheader {
  display: none;
  height: 60px;
  background-color: $color-a;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  box-shadow: 0 4px 13px 10px rgba(0, 0, 0, 0.06);
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.mobheader__logo {
  & > img {
    max-width: 90px;
  }
}

.mobheader__content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.mobheader__menu {
  transform: scale(0.7);
  cursor: pointer;
  .svg-sprite {
    width: 30px;
    fill: #fff;
  }
}
