.modal {
  position: fixed;
  z-index: 2000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  padding: 10px;
  box-sizing: border-box;
}

.modal__dark {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2100;
}

.modal__window {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  position: relative;
  z-index: 2200;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  @include media-breakpoint-down(sm) {
    margin-top: 50px;
  }
}
