.navbts {
  display: inline-flex;
  button {
    width: 100px;
    height: 60px;
    box-sizing: border-box;
    border: 2px solid $color-g;
    background-color: transparent;
    margin: 0;
    margin-left: 16px;
    padding: 0;
    outline: none;
    position: relative;
    cursor: pointer;
    transition: border-color 0.5s;
    &:hover {
      border-color: $color-a;
      &::after {
        opacity: 1;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.5;
      transition: opacity 0.5s;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

.navbts__next {
  &::after {
    background-image: url(../img/icons8_arrow_pointing_down_30px.png);
  }
}

.navbts__prev {
  &::after {
    background-image: url(../img/icons8_arrow_pointing_down_30px2.png);
  }
}

.navbts__next_b,
.navbts__prev_b {
  border-color: #fff !important;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
  }
  &:hover {
    border-color: $color-a !important;
    &::before {
      opacity: 1 !important;
    }
  }
}

.navbts__prev_b {
  &::after {
    background-image: url(../img/prev.png);
    opacity: 1 !important;
  }
  &::before {
    background-image: url(../img/prev_hover.png);
  }
}
.navbts__next_b {
  &::after {
    background-image: url(../img/next.png);
    opacity: 1 !important;
  }
  &::before {
    background-image: url(../img/next_hover.png);
  }
}
