.objects {
  display: flex;
  justify-content: space-between;
  @include media-breakpoint-down(xs) {
    flex-wrap: wrap;
  }
}

.objects__item {
  width: 33.3333333%;
  margin-right: 30px;
  text-align: center;
  @include media-breakpoint-down(sm) {
    margin-right: 10px;
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &:last-child {
    margin-right: 0;
  }
}
