.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -20px;
  margin-bottom: -20px;
  position: relative;
  @include media-breakpoint-down(lg) {
    flex-wrap: wrap;
  }
  & > span {
    width: calc(20% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    min-width: 217px;
  }
}
