.pageup {
  position: fixed;
  z-index: 1100;
  font-size: 0.625rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  bottom: 90px;
  right: 0;
  transform: rotate(-90deg);
  text-shadow: 0 0 7px black;
  display: none;
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
  & > span {
    margin-right: 10px;
  }
}
