.partners {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  @include media-breakpoint-down(sm) {
    margin-right: -30px;
    flex-wrap: wrap;
  }
}
.partners__item {
  padding: 20px;
  width: 25%;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  margin-right: 30px;
  position: relative;
  justify-content: center;
  @include media-breakpoint-down(sm) {
    width: calc(50% - 30px);
    margin-bottom: 30px;
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
  &:last-child {
    margin-right: 0;

    @include media-breakpoint-down(sm) {
      margin-right: 30px;
    }
    @include media-breakpoint-down(xs) {
      margin-bottom: 0;
    }
  }
  & > img {
    max-width: 100%;
  }
}

.partners__lines {
  span {
    &:first-child {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: linear-gradient(
          90deg,
          rgba(173, 168, 151, 0) 0%,
          rgba(173, 168, 151, 1) 100%
        );
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 1px;
        width: 100%;
        background: linear-gradient(
          90deg,
          rgba(173, 168, 151, 1) 0%,
          rgba(173, 168, 151, 0) 100%
        );
      }
    }
    &:last-child {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        height: 100%;
        width: 1px;
        background: linear-gradient(
          180deg,
          rgba(173, 168, 151, 1) 0%,
          rgba(173, 168, 151, 0) 100%
        );
      }
      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 1px;
        background: linear-gradient(
          180deg,
          rgba(173, 168, 151, 0) 0%,
          rgba(173, 168, 151, 1) 100%
        );
      }
    }
  }
}
