.photo-product {
  position: relative;
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
  &::before {
    content: "";
    border: 10px solid $color-f;
    position: absolute;
    width: 75.21%;
    height: 102.823%;
    box-sizing: border-box;
    bottom: 14%;
    left: -16%;
    z-index: 1;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  & > img {
    max-width: 100%;
    position: relative;
    z-index: 2;
  }
}
