.promo {
  border: 10px solid $color-a;
  padding: 104px 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  @include media-breakpoint-down(xs) {
    padding: 20px;
    margin-bottom: 0;
  }
}

.promo__text {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  font-weight: 500;
  margin: 49px 0;
  @include media-breakpoint-down(xs) {
    font-size: 1.3rem;
  }
  b {
    font-weight: 800;
  }
}

.promo__img {
  position: absolute;
  top: 46%;
  transform: translateY(-42%);
  right: -2%;
  width: 50%;
  & > img {
    max-width: 100%;
  }
  @include media-breakpoint-down(xs) {
    display: none;
  }
}
.promo__content {
  width: 50%;
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}

.promo__header {
  font-weight: 800;
  font-size: 3.125rem;
  line-height: 3.75rem;
  @include media-breakpoint-down(sm) {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }
  @include media-breakpoint-down(xs) {
    font-size: 1.9em;
    line-height: 2.2rem;
  }
}
