.product-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
  align-items: center;
  @include media-breakpoint-down(xs) {
    flex-direction: column-reverse;
  }
}

.product-header__title {
  font-size: 2.25rem;
  font-weight: 800;
  position: relative;
  z-index: 3;
  padding-left: 34.6%;
  box-sizing: border-box;
  padding-right: 20px;
  padding-right: 235px;
  @include media-breakpoint-down(md) {
    padding-left: 0;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2.2rem;
  }
  @include media-breakpoint-down(xs) {
    margin-top: 20px;
    text-align: center;
    padding-right: 0;
  }
}

.product-header__nav {
  //   width: 216px;
}
