.section-header {
  font-weight: 800;
  font-size: 3.125rem;
  line-height: 3.75rem;
  @include media-breakpoint-down(sm) {
    font-size: 2.2rem;
    line-height: 2.4rem;
    text-align: center;
  }
  @include media-breakpoint-down(xs) {
    font-size: 1.9em;
    line-height: 2.2rem;
  }
  & > span {
    color: $color-f;
  }
}

.section-header_article {
  margin-bottom: 70px;
}

.section-header_rev {
  color: #fff;
}

.section-header_center {
  text-align: center;
}
