.serv {
  display: flex;
  justify-content: space-between;
}

.serv__content {
  width: 72.565%;
  padding-left: 14px;
  box-sizing: border-box;
  @include media-breakpoint-down(sm) {
    width: 100%;
    padding-right: 14px;
  }
}

.serv__man {
  width: 27%;
  @include media-breakpoint-down(sm) {
    display: none;
  }
  & > img {
    position: absolute;
    bottom: -100px;
    right: 0;
    max-width: 20%;
    z-index: 3;
  }
}
