.stars {
  width: 120px;
  height: 24px;
  background-image: url(../img/stars_back.svg);
  background-size: contain;
  position: relative;
  span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../img/stars.svg);
    background-size: contain;
    width: 50%;
  }
}
