.trees {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  padding-top: 22px;
  @include media-breakpoint-down(md) {
    justify-content: center;
    margin-right: 0;
    text-align: center;
  }
}

.trees__item {
  width: calc(25% - 8px);
  padding-left: 26px;
  margin-right: 8px;
  box-sizing: border-box;
  margin-bottom: 60px;
  @include media-breakpoint-down(md) {
    width: calc(33.3333333% - 8px);
  }
  @include media-breakpoint-down(md) {
    width: calc(50% - 8px);
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
    margin-right: 0;
    padding-left: 0;
  }
}
