include templates/mixins.pug

<!DOCTYPE html>
html(lang="ru")

    head

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Title

        // ===============
        // СТИЛИ И СКРИПТЫ
        // ===============
        link(rel="stylesheet", href="css/main.css")
        script(src="js/swiper.min.js")
        script(src="js/wow.min.js")
        script(src="js/jquery.min.js")

        // =====================
        // ЗАГРУЗКА SVG СПРАЙТОВ
        // =====================
        script.
            $(document).ready(function() {

                var req = new XMLHttpRequest();

                req.onload = function (e) {
                    var svg = document.implementation.createHTMLDocument( '' );
                    svg.body.innerHTML = e.target.response.replace('<svg ', '<svg style="display: none"');
                    document.body.appendChild(svg.body.firstElementChild);
                    svg = null;
                };

                req.open('GET', './img/sprite.defs.svg', true);

                req.responseType = 'text';

                req.send();

            });

    body

        .pageup
            span Подняться вверх
            img(src="img/up.png", alt="")

        // =========
        // CONTAINER
        // =========
        .wrapper

            // =============
            // MOBILE HEADER
            // =============
            .mobheader
                    .container.mobheader__content
                        .mobheader__logo
                            img(src="img/logo.png", alt="")
                        .mobheader__contacts
                            .mobcontacts
                                a(href="tel:0671010313").mobcontacts__item
                                    img(src="img/icons8_iphone_x_30px.png", alt="")
                                    span (067) <b>10-10-313</b>
                                a(href="tel:0500350403").mobcontacts__item
                                    img(src="img/icons8_iphone_x_30px.png", alt="")
                                    span (050) <b>035-04-03</b>
                                a(href="tel:0639192223").mobcontacts__item
                                    img(src="img/icons8_iphone_x_30px.png", alt="")
                                    span (063) <b>919-22-23</b>
                                a(href="tel:0449192223").mobcontacts__item
                                    img(src="img/icons8_iphone_x_30px.png", alt="")
                                    span (044) <b>919-22-23</b>

            // ======
            // HEADER
            // ======
            .header.wow.fadeInDown(data-wow-delay="0.2s")
                .container
                    .header__content
                        .header__logo
                            .logo
                                .logo__image
                                    img(src="img/logo.png", alt="")
                                .logo__text Представительство завода Stekloplast <br>в Киеве и области Окна по правилам с 1997 года
                                .logo__social
                                    a(href="")
                                        img(src="img/icons8_facebook_old_26px.png", alt="")
                                    a(href="")
                                        img(src="img/icons8_instagram_26px.png", alt="")
                        .header__contacts
                            .contacts
                                a(href="tel:0671010313").contacts__item
                                    img(src="img/icons8_iphone_x_30px.png", alt="")
                                    span (067) <b>10-10-313</b>
                                a(href="tel:0500350403").contacts__item
                                    img(src="img/icons8_iphone_x_30px.png", alt="")
                                    span (050) <b>035-04-03</b>
                                a(href="tel:0639192223").contacts__item
                                    img(src="img/icons8_iphone_x_30px.png", alt="")
                                    span (063) <b>919-22-23</b>
                                a(href="tel:0449192223").contacts__item
                                    img(src="img/icons8_iphone_x_30px.png", alt="")
                                    span (044) <b>919-22-23</b>

            // ===========
            // ПРИВЕТСТВИЕ
            // ===========
            .welcome
                .container.container_rel
                    .decor.decor_6
                        img(src="img/lines/lines1.png", alt="")
                    .decor.decor_7
                        img(src="img/lines/lines2.png", alt="")
                    .decor.decor_8
                        img(src="img/lines/lines3.png", alt="")
                    .intro
                        .intro__content
                            h1.intro__header.wow.fadeInUp Металлопластиковые окна от производителя
                            .intro__promo.wow.fadeInUp(data-wow-delay="0.2s")
                                img(src="img/icons8_discount_50px.png", alt="")
                                div Только <b>до 30 марта</b> акция: <br>5-камерный профиль по цене 3-камерного!
                            .intro__act.wow.fadeInUp(data-wow-delay="0.4s")
                                button.button.button_a Рассчитать стоимость
                        .intro__decor
                            img(src="img/drzwi_ideal_2000_Z120.png", alt="" data-wow-delay="0.4s").wow.fadeInRight
                            .intro__badge.intro__badge_1.badge(style="background-image:url(img/Badge05.png)" data-wow-delay="0.8s").wow.zoomIn
                                .badge__percent 0<span>%</span>
                                .badge__name Рассрочка
                            .intro__badge.intro__badge_2.badge(style="background-image:url(img/Badge06.png)" data-wow-delay="1.2s").wow.zoomIn
                                .badge__image
                                    img(src="img/badge_icon.png", alt="")
                                .badge__name Ощадний <br>дім
                                    .badge__icon
                                        img(src="img/logo_b.png", alt="")

            // ===========================
            // ВЫБЕРЕТЕ ЧТО ВАС ИНТЕРЕСУЕТ
            // ===========================
            section.section
                .container.container_rel
                    .decor.decor_9
                        img(src="img/lines/lines4.png", alt="")
                    .decor.decor_10
                        img(src="img/lines/lines5.png", alt="")
                    .header-wadd.wow.fadeInUp
                        .header-blcs__header
                            .section-header Выберите, <br>что вас интересует
                        .header-wadd__add
                            button.button.button_b Украина
                            button.button.button_c Германия
                    .select-linelist
                        button.button.button_d.wow.zoomIn(data-wow-delay="0.2s") Окна
                        button.button.button_d.wow.zoomIn(data-wow-delay="0.3s") Балконы
                        button.button.button_d.wow.zoomIn(data-wow-delay="0.4s") Двери
                        button.button.button_d.wow.zoomIn(data-wow-delay="0.5s") Перегородки
                        button.button.button_d.wow.zoomIn(data-wow-delay="0.6s") Подоконники

            // ====
            // ОКНО
            // ====
            section.section.section_light
                .container.container_rel
                    .decor.decor_11
                        img(src="img/lines/lines6.png", alt="")
                    .product-nav
                        .navbts
                            button.navbts__next#product-prev
                            button.navbts__prev#product-next
                    .products-list
                        .products-list__item
                            .product-header
                                .product-header__title.wow.fadeInUp  Окно SP 8 SERIES 
                                .product-header__nav      
                            .product
                                .product__image
                                    .photo-product.wow.fadeInLeft
                                        img(src="img/photo_window.png", alt="")
                                .product__text.wow.fadeInRight
                                    .props
                                        .props__item
                                            .props__name Назначение
                                            .props__value Для современных коттеджей, частных домов и элитных жилых комплексов
                                        .props__item
                                            .props__name Профиль
                                            .props__value WDS 8 Series (6 воздушных камер, 3 контура уплотнения /серый уплотнитель)
                                        .props__item
                                            .props__name Стеклопакет
                                            .props__value Мультифункциональный Guardian Clima Guard Solar (42 мм + Argon)
                                        .props__item
                                            .props__name Коэффициент сопротивления теплопередачи
                                            .props__value 1,45 c*м2/Вт
                                        .props__item
                                            .props__name Шумоизоляция
                                            .props__value 34 дБ
                                        .props__item
                                            .props__name Толщина профиля
                                            .props__value 82 мм
                                        .props__item
                                            .props__name Гарантия
                                            .props__value 5 лет
                                .decor.decor_12
                                    img(src="img/lines/lines7.png", alt="")
                                .decor.decor_13
                                    img(src="img/lines/lines7.png", alt="")
                            .params
                                
                                .params__item.wow.fadeInRight(data-wow-delay="0.2s")
                                    .params__name Сохранение тепла
                                    .params__value
                                        .stars
                                            span(style="width: 70%")
                                .params__item.wow.fadeInRight(data-wow-delay="0.4s")
                                    .params__name Защита от солнца
                                    .params__value
                                        .stars
                                            span(style="width: 70%")
                                .params__item.wow.fadeInRight(data-wow-delay="0.6s")
                                    .params__name Защита от шума
                                    .params__value
                                        .stars
                                            span(style="width: 40%")
                                .params__item.wow.fadeInRight(data-wow-delay="0.8s")
                                    .params__name Защита от взлома
                                    .params__value
                                        .stars
                                            span(style="width: 100%")
                            
                            .litle-header.wow.fadeInUp Дополнительные опции
                            .options
                                .decor.decor_14
                                    img(src="img/lines/lines8.png", alt="")
                                button.button.button_e.wow.zoomIn(data-wow-delay="0.2")
                                    img(src="img/options/icons8_snow_40px.png", alt="")
                                    span Теплая <br>зима
                                button.button.button_e.button_ebig.wow.zoomIn(data-wow-delay="0.3s")
                                    img(src="img/options/icons8_snowflake_40px.png", alt="")
                                    span Защита от <br>промерзания
                                button.button.button_e.wow.zoomIn(data-wow-delay="0.4s")
                                    img(src="img/options/icons8_partly_cloudy_day_40px.png", alt="")
                                    span Прохладное лето
                                button.button.button_e.wow.zoomIn(data-wow-delay="0.5s")
                                    img(src="img/options/icons8_rain_cloud_40px.png", alt="")
                                    span Тихий дождь
                                button.button.button_e.button_ebig.wow.zoomIn(data-wow-delay="0.6s")
                                    img(src="img/options/icons8_dry_30px.png", alt="")
                                    span Пошаговое проветривание
                                button.button.button_e.wow.zoomIn(data-wow-delay="0.7s")
                                    img(src="img/options/icons8_open_window_40px.png", alt="")
                                    span Фиксация створки
                                button.button.button_e.wow.zoomIn(data-wow-delay="0.8s")
                                    img(src="img/options/icons8_baby_40px.png", alt="")
                                    span Baby <br>control
                                button.button.button_e.button_ebig.wow.zoomIn(data-wow-delay="0.9s")
                                    img(src="img/options/icons8_wind_40px.png", alt="")
                                    span Устройчивость к ветру
                                button.button.button_e.button_ebig.wow.zoomIn(data-wow-delay="1s")
                                    img(src="img/options/icons8_closed_window_30px.png", alt="")
                                    span Идеальный подоконник
                            .toact.wow.fadeIn(data-wow-delay="1s")
                                button.button.button_f Рассчитать стоимость
                            .decor.decor_1
                                img(src="img/measure_tape_PNG32.png", alt="")
                        .products-list__item
                            .product-header
                                .product-header__title  Окно SP 8 SERIES 
                                .product-header__nav      
                            .product
                                .product__image
                                    .photo-product
                                        img(src="img/photo_window.png", alt="")
                                .product__text
                                    .props
                                        .props__item
                                            .props__name Назначение
                                            .props__value Для современных коттеджей, частных домов и элитных жилых комплексов
                                        .props__item
                                            .props__name Профиль
                                            .props__value WDS 8 Series (6 воздушных камер, 3 контура уплотнения /серый уплотнитель)
                                        .props__item
                                            .props__name Стеклопакет
                                            .props__value Мультифункциональный Guardian Clima Guard Solar (42 мм + Argon)
                                        .props__item
                                            .props__name Коэффициент сопротивления теплопередачи
                                            .props__value 1,45 c*м2/Вт
                                        .props__item
                                            .props__name Шумоизоляция
                                            .props__value 34 дБ
                                        .props__item
                                            .props__name Толщина профиля
                                            .props__value 82 мм
                                        .props__item
                                            .props__name Гарантия
                                            .props__value 5 лет
                                .decor.decor_12
                                    img(src="img/lines/lines7.png", alt="")
                                .decor.decor_13
                                    img(src="img/lines/lines7.png", alt="")
                            .params
                                
                                .params__item
                                    .params__name Сохранение тепла
                                    .params__value
                                        .stars
                                            span(style="width: 70%")
                                .params__item
                                    .params__name Защита от солнца
                                    .params__value
                                        .stars
                                            span(style="width: 70%")
                                .params__item
                                    .params__name Защита от шума
                                    .params__value
                                        .stars
                                            span(style="width: 40%")
                                .params__item
                                    .params__name Защита от взлома
                                    .params__value
                                        .stars
                                            span(style="width: 100%")
                            
                            .litle-header Дополнительные опции
                            .options
                                .decor.decor_14
                                    img(src="img/lines/lines8.png", alt="")
                                button.button.button_e
                                    img(src="img/options/icons8_snow_40px.png", alt="")
                                    span Теплая <br>зима
                                button.button.button_e.button_ebig
                                    img(src="img/options/icons8_snowflake_40px.png", alt="")
                                    span Защита от <br>промерзания
                                button.button.button_e
                                    img(src="img/options/icons8_partly_cloudy_day_40px.png", alt="")
                                    span Прохладное лето
                                button.button.button_e 
                                    img(src="img/options/icons8_rain_cloud_40px.png", alt="")
                                    span Тихий дождь
                                button.button.button_e.button_ebig
                                    img(src="img/options/icons8_dry_30px.png", alt="")
                                    span Пошаговое проветривание
                                button.button.button_e 
                                    img(src="img/options/icons8_open_window_40px.png", alt="")
                                    span Фиксация створки
                                button.button.button_e 
                                    img(src="img/options/icons8_baby_40px.png", alt="")
                                    span Baby <br>control
                                button.button.button_e.button_ebig
                                    img(src="img/options/icons8_wind_40px.png", alt="")
                                    span Устройчивость к ветру
                                button.button.button_e.button_ebig
                                    img(src="img/options/icons8_closed_window_30px.png", alt="")
                                    span Идеальный подоконник
                            .toact
                                button.button.button_f Рассчитать стоимость
                            .decor.decor_1
                                img(src="img/measure_tape_PNG32.png", alt="")
                        .products-list__item
                            .product-header
                                .product-header__title  Окно SP 8 SERIES 
                                .product-header__nav      
                            .product
                                .product__image
                                    .photo-product
                                        img(src="img/photo_window.png", alt="")
                                .product__text
                                    .props
                                        .props__item
                                            .props__name Назначение
                                            .props__value Для современных коттеджей, частных домов и элитных жилых комплексов
                                        .props__item
                                            .props__name Профиль
                                            .props__value WDS 8 Series (6 воздушных камер, 3 контура уплотнения /серый уплотнитель)
                                        .props__item
                                            .props__name Стеклопакет
                                            .props__value Мультифункциональный Guardian Clima Guard Solar (42 мм + Argon)
                                        .props__item
                                            .props__name Коэффициент сопротивления теплопередачи
                                            .props__value 1,45 c*м2/Вт
                                        .props__item
                                            .props__name Шумоизоляция
                                            .props__value 34 дБ
                                        .props__item
                                            .props__name Толщина профиля
                                            .props__value 82 мм
                                        .props__item
                                            .props__name Гарантия
                                            .props__value 5 лет
                                .decor.decor_12
                                    img(src="img/lines/lines7.png", alt="")
                                .decor.decor_13
                                    img(src="img/lines/lines7.png", alt="")
                            .params
                                
                                .params__item
                                    .params__name Сохранение тепла
                                    .params__value
                                        .stars
                                            span(style="width: 70%")
                                .params__item
                                    .params__name Защита от солнца
                                    .params__value
                                        .stars
                                            span(style="width: 70%")
                                .params__item
                                    .params__name Защита от шума
                                    .params__value
                                        .stars
                                            span(style="width: 40%")
                                .params__item
                                    .params__name Защита от взлома
                                    .params__value
                                        .stars
                                            span(style="width: 100%")
                            
                            .litle-header Дополнительные опции
                            .options
                                .decor.decor_14
                                    img(src="img/lines/lines8.png", alt="")
                                button.button.button_e
                                    img(src="img/options/icons8_snow_40px.png", alt="")
                                    span Теплая <br>зима
                                button.button.button_e.button_ebig
                                    img(src="img/options/icons8_snowflake_40px.png", alt="")
                                    span Защита от <br>промерзания
                                button.button.button_e
                                    img(src="img/options/icons8_partly_cloudy_day_40px.png", alt="")
                                    span Прохладное лето
                                button.button.button_e 
                                    img(src="img/options/icons8_rain_cloud_40px.png", alt="")
                                    span Тихий дождь
                                button.button.button_e.button_ebig
                                    img(src="img/options/icons8_dry_30px.png", alt="")
                                    span Пошаговое проветривание
                                button.button.button_e 
                                    img(src="img/options/icons8_open_window_40px.png", alt="")
                                    span Фиксация створки
                                button.button.button_e 
                                    img(src="img/options/icons8_baby_40px.png", alt="")
                                    span Baby <br>control
                                button.button.button_e.button_ebig
                                    img(src="img/options/icons8_wind_40px.png", alt="")
                                    span Устройчивость к ветру
                                button.button.button_e.button_ebig
                                    img(src="img/options/icons8_closed_window_30px.png", alt="")
                                    span Идеальный подоконник
                            .toact
                                button.button.button_f Рассчитать стоимость
                            .decor.decor_1
                                img(src="img/measure_tape_PNG32.png", alt="")
                        .products-list__item
                            .product-header
                                .product-header__title  Окно SP 8 SERIES 
                                .product-header__nav      
                            .product
                                .product__image
                                    .photo-product
                                        img(src="img/photo_window.png", alt="")
                                .product__text
                                    .props
                                        .props__item
                                            .props__name Назначение
                                            .props__value Для современных коттеджей, частных домов и элитных жилых комплексов
                                        .props__item
                                            .props__name Профиль
                                            .props__value WDS 8 Series (6 воздушных камер, 3 контура уплотнения /серый уплотнитель)
                                        .props__item
                                            .props__name Стеклопакет
                                            .props__value Мультифункциональный Guardian Clima Guard Solar (42 мм + Argon)
                                        .props__item
                                            .props__name Коэффициент сопротивления теплопередачи
                                            .props__value 1,45 c*м2/Вт
                                        .props__item
                                            .props__name Шумоизоляция
                                            .props__value 34 дБ
                                        .props__item
                                            .props__name Толщина профиля
                                            .props__value 82 мм
                                        .props__item
                                            .props__name Гарантия
                                            .props__value 5 лет
                                .decor.decor_12
                                    img(src="img/lines/lines7.png", alt="")
                                .decor.decor_13
                                    img(src="img/lines/lines7.png", alt="")
                            .params
                                
                                .params__item
                                    .params__name Сохранение тепла
                                    .params__value
                                        .stars
                                            span(style="width: 70%")
                                .params__item
                                    .params__name Защита от солнца
                                    .params__value
                                        .stars
                                            span(style="width: 70%")
                                .params__item
                                    .params__name Защита от шума
                                    .params__value
                                        .stars
                                            span(style="width: 40%")
                                .params__item
                                    .params__name Защита от взлома
                                    .params__value
                                        .stars
                                            span(style="width: 100%")
                            
                            .litle-header Дополнительные опции
                            .options
                                .decor.decor_14
                                    img(src="img/lines/lines8.png", alt="")
                                button.button.button_e
                                    img(src="img/options/icons8_snow_40px.png", alt="")
                                    span Теплая <br>зима
                                button.button.button_e.button_ebig
                                    img(src="img/options/icons8_snowflake_40px.png", alt="")
                                    span Защита от <br>промерзания
                                button.button.button_e
                                    img(src="img/options/icons8_partly_cloudy_day_40px.png", alt="")
                                    span Прохладное лето
                                button.button.button_e 
                                    img(src="img/options/icons8_rain_cloud_40px.png", alt="")
                                    span Тихий дождь
                                button.button.button_e.button_ebig
                                    img(src="img/options/icons8_dry_30px.png", alt="")
                                    span Пошаговое проветривание
                                button.button.button_e 
                                    img(src="img/options/icons8_open_window_40px.png", alt="")
                                    span Фиксация створки
                                button.button.button_e 
                                    img(src="img/options/icons8_baby_40px.png", alt="")
                                    span Baby <br>control
                                button.button.button_e.button_ebig
                                    img(src="img/options/icons8_wind_40px.png", alt="")
                                    span Устройчивость к ветру
                                button.button.button_e.button_ebig
                                    img(src="img/options/icons8_closed_window_30px.png", alt="")
                                    span Идеальный подоконник
                            .toact
                                button.button.button_f Рассчитать стоимость
                            .decor.decor_1
                                img(src="img/measure_tape_PNG32.png", alt="")
            // =======================
            // НЕ ЗНАЕТЕ, КАК ВЫБРАТЬ?
            // =======================
            section.section
                .container.container_rel
                    .decor.decor_15
                        img(src="img/lines/lines9.png", alt="")
                    .decor.decor_16
                        img(src="img/lines/lines10.png", alt="")
                    .decor.decor_17
                        img(src="img/lines/lines11.png", alt="")
                    .article
                        .article__text
                            .section-header.wow.fadeInUp Не знаете, <br>как выбрать?
                            .article-subheader.article-subheader_m.wow.fadeInUp(data-wow-delay="0.2s") Опишите менеджеру задачу и мы поможем вам подобрать оптимальный профиль:
                            ul.listcheck
                                li.listcheck__item.wow.fadeInUp(data-wow-delay="0.3s") Рассчитаем теплопотери и поможем их сократить
                                li.listcheck__item.wow.fadeInUp(data-wow-delay="0.4s") Вычислим нагрузку и проведем подбор по прочности
                                li.listcheck__item.wow.fadeInUp(data-wow-delay="0.5s") Учтем требования по шумоизоляции и особенности эксплуатации
                            .article-act.wow.fadeInUp(data-wow-delay="1s")
                                button.button.button_f Подобрать профиль
                        .article__image.wow.fadeInRight(data-wow-delay="0.2s")
                            .article-image
                                .article-image__img
                                    .article-image__symb
                                        img(src="img/icons8_question_mark_64px.png", alt="")
                                    img(src="img/unnamed.png", alt="")
            
            // =========================
            // ВОСПОЛЬЗУЙТЕСЬ РАССРОЧКОЙ
            // =========================
            section.section.section_articletop
                .container.container_rel
                    .decor.decor_18
                        img(src="img/lines/lines10.png", alt="")
                    .decor.decor_19
                        img(src="img/lines/lines7.png", alt="")
                    .article.article_rev
                        .article__text
                            .section-header.section-header_article.wow.fadeInUp Воспользуйтесь <br>рассрочкой от Stekloplast - <br><span>до 2 лет под 0%!</span>
                            ul.listcheck
                                li.listcheck__item.wow.fadeInUp(data-wow-delay="0.2s") Без справок о доходах
                                li.listcheck__item.wow.fadeInUp(data-wow-delay="0.3s") Без очередей в банках
                                li.listcheck__item.wow.fadeInUp(data-wow-delay="0.4s") Без поручителей
                            .article-comment.wow.fadeInUp(data-wow-delay="0.5s") Какой смысл экономить, если вы ставите окна на 50 лет, верно?
                            .article-act.wow.fadeInUp(data-wow-delay="1s")
                                button.button.button_f Подобрать профиль
                        .article__image.article__image_rev.fadeInLeft(data-wow-delay="0.2s")
                            .article-image.article-image_rev
                                .article-image__img
                                    .article-image__symb
                                        img(src="img/icons8_money_box_64px.png", alt="")
                                    img(src="img/article.png", alt="")
            
            // ================
            // ОКНА ПО ПРАВИЛАМ
            // ================
            section.section.section_articletop
                .container.container_rel
                    .decor.decor_20
                        img(src="img/lines/lines7.png", alt="")
                    .decor.decor_21
                        img(src="img/lines/lines7.png", alt="")
                    .article.article_accent
                        .article__text
                            .articlenav
                                .navbts
                                    button.navbts__next
                                    button.navbts__prev
                            .section-header.wow.fadeInUp Stekloplast - <br>окна по правилам <br>с 1997 года
                            .article-subheader.article-subheader_m.article-subheader_auto.wow.fadeInUp(data-wow-delay="0.2s") В лице Stekloplast вы нашли надежного партнера, с которым не придется волноваться о качестве. Вся продукция идет на экспорт, поэтому проходит строжайший контроль.
                            .accent
                                .accent__img
                                    img(src="img/icons8_licence_32px.png", alt="")
                                .accent__text.wow.fadeInUp(data-wow-delay="1s") Ваши окна имеют международные сертификаты качества, ведь используются даже за границей!
                        .article__image.wow.fadeInRight(data-wow-delay="0.2s")
                            .article-image
                                .article-image__img
                                    .article-image__symb
                                        img(src="img/icons8_maintenance_64px.png", alt="")
                                    img(src="img/article3.png", alt="")

            // ==================================
            // НА КАКИХ ОБЪЕКТАХ УСТАНОВЛЕНЫ ОКНА
            // ==================================
            section.section(style="background-image: url(img/room.png)")
                .container.container_rel
                    .decor.decor_2
                        img(src="img/622.png", alt="")
                    .decor.decor_22
                        img(src="img/lines/lines12.png", alt="")
                    .section-header-nav
                        .section-header-nav__title
                            .section-header.section-header_rev.wow.fadeInUp  Вы удивитесь, на каких объектах установлены окна Stekloplast
                        .section-header-nav__nav
                            .navbts
                                button.navbts__prev.navbts__prev_b#slider-object-prev
                                button.navbts__next.navbts__next_b#slider-object-next
                    // Slider main container
                    .swiper-container#slider-objects
                        // Additional required wrapper
                        .swiper-wrapper
                            // Slides
                            .swiper-slide.wow.fadeInUp(data-wow-delay="0.2s")
                                .object
                                    .object__img
                                        img(src="img/lavina.png", alt="")
                                    .object__name ТРЦ Lavina Mall, <span>Киев</span>
                            .swiper-slide.wow.fadeInUp(data-wow-delay="0.3s")
                                .object
                                    .object__img
                                        img(src="img/parkov.png", alt="")
                                    .object__name КВЦ «Парковый», <span>Киев</span>
                            .swiper-slide.wow.fadeInUp(data-wow-delay="0.4s")
                                .object
                                    .object__img
                                        img(src="img/tsum.png", alt="")
                                    .object__name ЦУМ, <span>Киев</span>
                            .swiper-slide
                                .object
                                    .object__img
                                        img(src="img/lavina.png", alt="")
                                    .object__name ТРЦ Lavina Mall, <span>Киев</span>
                            .swiper-slide
                                .object
                                    .object__img
                                        img(src="img/parkov.png", alt="")
                                    .object__name КВЦ «Парковый», <span>Киев</span>
                            .swiper-slide
                                .object
                                    .object__img
                                        img(src="img/tsum.png", alt="")
                                    .object__name ЦУМ, <span>Киев</span>
                            .swiper-slide
                                .object
                                    .object__img
                                        img(src="img/lavina.png", alt="")
                                    .object__name ТРЦ Lavina Mall, <span>Киев</span>
                            .swiper-slide
                                .object
                                    .object__img
                                        img(src="img/parkov.png", alt="")
                                    .object__name КВЦ «Парковый», <span>Киев</span>
                            .swiper-slide
                                .object
                                    .object__img
                                        img(src="img/tsum.png", alt="")
                                    .object__name ЦУМ, <span>Киев</span>


            // ================
            // ЦВЕТОВЫЕ РЕШЕНИЯ
            // ================
            section.section
                .container.container_rel
                    .decor.decor_23
                        img(src="img/lines/lines13.png", alt="")
                    .decor.decor_24
                        img(src="img/lines/lines14.png", alt="")
                    .decor.decor_25
                        img(src="img/lines/lines15.png", alt="")
                    .decor.decor_26
                        img(src="img/lines/lines10.png", alt="")
                    .decor.decor_27
                        img(src="img/lines/lines16.png", alt="")
                    .section-header.section-header_center.wow.fadeInUp Цветовые решения с защитой от деформации и выгорания
                    .section-subheader.wow.fadeInUp(data-wow-delay="0.2s") Для окон Stekloplast используются немецкие пленки “Сool colors” от компании Hornschuch. Специальные цветовые пигменты в их составе отражают большинство тепловых лучей. Так Stekloplast защищает свои ламинированные окна от  нагревания и последующей деформации профиля и всей оконной конструкции. Так Stekloplast защитил свои ламинированные окна от проблемы, с которой сталкивается большинство производителей ламинированных конструкций
                    .trees
                        .trees__item.wow.fadeInUp(data-wow-delay="0.5s")
                            .tree
                                .tree__img
                                    img(src="img/trees/1.png", alt="")
                                .tree__name Золотой дуб
                        .trees__item.wow.fadeInUp(data-wow-delay="0.2s")
                            .tree
                                .tree__img
                                    img(src="img/trees/2.png", alt="")
                                .tree__name Махагон
                        .trees__item.wow.fadeInUp(data-wow-delay="0.2s")
                            .tree
                                .tree__img
                                    img(src="img/trees/3.png", alt="")
                                .tree__name Дуб <br>рустикаль
                        .trees__item.wow.fadeInUp(data-wow-delay="0.5s")
                            .tree
                                .tree__img
                                    img(src="img/trees/4.png", alt="")
                                .tree__name Мореный дуб
                        .trees__item.wow.fadeInUp(data-wow-delay="0.5s")
                            .tree
                                .tree__img
                                    img(src="img/trees/5.png", alt="")
                                .tree__name Мореный дуб
                        .trees__item.wow.fadeInUp(data-wow-delay="0.2s")
                            .tree
                                .tree__img
                                    img(src="img/trees/6.png", alt="")
                                .tree__name Дуб <br>рустикаль
                        .trees__item.wow.fadeInUp(data-wow-delay="0.2s")
                            .tree
                                .tree__img
                                    img(src="img/trees/7.png", alt="")
                                .tree__name Махагон
                        .trees__item.wow.fadeInUp(data-wow-delay="0.5s")
                            .tree
                                .tree__img
                                    img(src="img/trees/8.png", alt="")
                                .tree__name Золотой дуб

            // ==========================
            // ИННОВАЦИОННЫЕ СТЕКЛОПАКЕТЫ
            // ==========================
            section.section.section_light
                .container.container_rel
                    .decor.decor_3
                        img(src="img/623.png", alt="")
                    .decor.decor_28
                        img(src="img/lines/lines17.png", alt="")
                    .section-header-nav.section-header-nav_alcenter.wow.fadeInUp
                        .section-header-nav__title
                            .section-header Инновационные стеклопакеты
                        .section-header-nav__nav
                            .navbts
                                button.navbts__next#slider-types-prev
                                button.navbts__prev#slider-types-next
                    // Slider main container
                    .swiper-container#slider-types
                        // Additional required wrapper
                        .swiper-wrapper
                            // Slides
                            .swiper-slide
                                .types__item.wow.fadeInUp
                                    .types__img
                                        img(src="img/634.png", alt="")
                                    .types__name Противоударные
                            .swiper-slide
                                .types__item.wow.fadeInUp
                                    .types__img
                                        img(src="img/633.png", alt="")
                                    .types__name Зеркальные
                            .swiper-slide
                                .types__item
                                    .types__img
                                        img(src="img/634.png", alt="")
                                    .types__name Противоударные
                            .swiper-slide
                                .types__item
                                    .types__img
                                        img(src="img/633.png", alt="")
                                    .types__name Зеркальные

            // =======================
            // КОНСТРУКЦИИ ЛЮБОЙ ФОРМЫ
            // =======================
            section.section
                .container.container_rel
                    .decor.decor_29
                        img(src="img/lines/lines18.png", alt="")
                    .decor.decor_30
                        img(src="img/lines/lines19.png", alt="")
                    .section-header-nav.section-header-nav_alcenter
                        .section-header-nav__title
                            .section-header.wow.fadeInUp Конструкции любой формы
                        .section-header-nav__nav
                            .navbts
                                button.navbts__next#slider-forms-prev
                                button.navbts__prev#slider-forms-next
                    // Slider main container
                    .swiper-containe#slider-forms
                        // Additional required wrapper
                        .swiper-wrapper
                            // Slides
                            .swiper-slide 
                                .forms__item.wow.fadeInUp(data-wow-delay="0.2s")
                                    .forms__img
                                        img(src="img/654.png", alt="")
                                    .forms__name Круглые
                            .swiper-slide 
                                .forms__item.wow.fadeInUp(data-wow-delay="0.3s")
                                    .forms__img
                                        img(src="img/655.png", alt="")
                                    .forms__name Треугольные
                            .swiper-slide 
                                .forms__item.wow.fadeInUp(data-wow-delay="0.4s")
                                    .forms__img
                                        img(src="img/wt05.png", alt="")
                                    .forms__name Трапециевидные
            
            // =====================
            // ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ
            // =====================
            section.section.section_light
                .container.container_rel
                    .mheader.wow.fadeInLeft Дополнительные услуги
                    .serv
                        .serv__content
                            .services
                                .services__item
                                    .service.wow.fadeInLeft(data-wow-delay="0.2s")
                                        .service__content
                                            .service__img
                                                .service__lines
                                                    span
                                                    span
                                                img(src="img/20af468487e1e16a644de45a5f1263de.png", alt="")
                                            .service__name Монтаж по ДСТУ
                                        .service__act
                                            button.button.button_f Заказать
                                .services__item
                                    .service.wow.fadeInLeft(data-wow-delay="0.3s")
                                        .service__content
                                            .service__img
                                                .service__lines
                                                    span
                                                    span
                                                img(src="img/507.png", alt="")
                                            .service__name Установка откосов
                                        .service__act
                                            button.button.button_f Заказать
                                .services__item
                                    .service.wow.fadeInLeft(data-wow-delay="0.4s")
                                        .service__content
                                            .service__img
                                                .service__lines
                                                    span
                                                    span
                                                img(src="img/1514926121_remontokon.png", alt="")
                                            .service__name Ремонт и регулировка окон
                                        .service__act
                                            button.button.button_f Заказать
                        .serv__man
                            img(src="img/unnamed4.png", alt="" data-wow-delay="0.2s").wow.fadeInUp
                            .decor.decor_4
                                img(src="img/dots.png", alt="")
            
            // =====
            // АКЦИЯ
            // =====
            section.section
                .container.container_rel
                    .decor.decor_31
                        img(src="img/lines/lines20.png", alt="")
                    .decor.decor_32
                        img(src="img/lines/lines20.png", alt="")
                    .promo
                        .promo__content
                            .promo__header.wow.jackInTheBox Акция!
                            .promo__text.wow.jackInTheBox Только <b>до 30 марта</b> акция: <br>5-камерный профиль по цене 3-камерного!
                            .promo__act.wow.jackInTheBox
                                button.button.button_f Рассчитать стоимость
                        .promo__img
                            img(src="img/profile.png", alt="").wow.fadeInRight
            
            // =============
            // НАШИ ПАРТНЕРЫ
            // =============
            section.section.section_light
                .container
                    .section-header.fadeInUp Наши партнеры
                    .partners
                        .partners__item.wow.zoomIn(data-wow-delay="0.2s")
                            .partners__lines
                                span
                                span
                            img(src="img/logo-wds2.png", alt="")
                        .partners__item.wow.zoomIn(data-wow-delay="0.3s")
                            .partners__lines
                                span
                                span
                            img(src="img/unnamed5.png", alt="")
                        .partners__item.wow.zoomIn(data-wow-delay="0.4s")
                            .partners__lines
                                span
                                span
                            img(src="img/Partner-Winkhaus-Logo.png", alt="")
                        .partners__item.wow.zoomIn(data-wow-delay="0.5s")
                            .partners__lines
                                span
                                span
                            img(src="img/axor.png", alt="")

            // ========
            // КОНТАКТЫ
            // ========
            section.section
                .container
                    .about
                       
                        .about__content
                            .decor.decor_32
                                img(src="img/lines/lines21.png", alt="")
                            .mheader Приходите к нам в офис!
                            .contacts-header Представительство в Киеве:
                            .contacts-item
                                span 
                                    img(src="img/icons8_marker_20px.png", alt="")
                                    span Тверской тупик 5а
                            .contacts-item
                                span 
                                    img(src="img/icons8_iphone_x_20px_1.png", alt="")
                                    span (067) 10-10-313
                                span 
                                    img(src="img/icons8_iphone_x_20px_1.png", alt="")
                                    span (063) 919-22-23
                            .contacts-item
                                span 
                                    img(src="img/icons8_iphone_x_20px_1.png", alt="")
                                    span (050) 035-04-03
                                span 
                                    img(src="img/icons8_iphone_x_20px_1.png", alt="")
                                    span (044) 221-36-53
                            .contacts-header Завод в Днепре:
                            .contacts-item
                                span 
                                    img(src="img/icons8_marker_20px.png", alt="")
                                    span ул. Днепровская 254
                            .contacts-item
                                span 
                                    img(src="img/icons8_new_post_20px.png", alt="")
                                    span stekloplast.ua
                            .contacts-item
                                span 
                                    img(src="img/icons8_telephone_20px.png", alt="")
                                    span 0 (800) 501-539
                        .about__map
                            .about__map-bg
                            .about__gmap
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d654.113490326049!2d30.531197535949673!3d50.42305640941366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf112e07bbcf%3A0x88d2c33d057477fc!2zNUEsINCi0LLQtdGA0YHQutC-0Lkg0YLRg9C_LiwgNdCQLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1584924077646!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

            // ======
            // FOOTER
            // ======
            footer.footer   
                .container.container_rel
                    .decor.decor_5
                        img(src="img/SP_2000_aluplast.png", alt="")
                    .decor.decor_33
                        img(src="img/lines/lines22.png", alt="")
                    .footer__header Подпишитесь на нас в соцсетях, <br>чтобы следить за акциями и новостями!
                    .socs
                        a(href="").socs__item
                            .socs__lines
                                span
                                span
                            +svg-sprite('svg_instagram', 'svgspr')
                        a(href="").socs__item
                            .socs__lines
                                span
                                span
                            +svg-sprite('svg_viber', 'svgspr')
                        a(href="").socs__item
                            .socs__lines
                                span
                                span
                            +svg-sprite('svg_facebook', 'svgspr')
                        a(href="").socs__item
                            .socs__lines
                                span
                                span
                            +svg-sprite('svg_whatsapp', 'svgspr')
                        a(href="").socs__item
                            .socs__lines
                                span
                                span
                            +svg-sprite('svg_telegram', 'svgspr')
                    .footer__copy © 2020. Stekloplast Киев Разработка: tkachuk.pro

        script(src="js/main.js")