@font-face {
    font-family: "star";
    src: url("../fonts/star.eot"); /* IE9 */
    src: url("../fonts/star.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/star.woff") format("woff"), /* chrome, firefox */
    url("../fonts/star.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/star.svg#star") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


