.svg-svg_facebook {
	background: url("svg/sprite.css-9810704f.svg") 57.11892797319933% 0 no-repeat;
}

.svg-svg_facebook-dims {
	width: 512px;
	height: 512px;
}

.svg-svg_instagram {
	background: url("svg/sprite.css-9810704f.svg") 0 100% no-repeat;
}

.svg-svg_instagram-dims {
	width: 512px;
	height: 512px;
}

.svg-svg_open-menu {
	background: url("svg/sprite.css-9810704f.svg") 42.88107202680067% 100% no-repeat;
}

.svg-svg_open-menu-dims {
	width: 512px;
	height: 512px;
}

.svg-svg_telegram {
	background: url("svg/sprite.css-9810704f.svg") 100% 0 no-repeat;
}

.svg-svg_telegram-dims {
	width: 512px;
	height: 512px;
}

.svg-svg_viber {
	background: url("svg/sprite.css-9810704f.svg") 100% 75.0733137829912% no-repeat;
}

.svg-svg_viber-dims {
	width: 512px;
	height: 512px;
}

.svg-svg_whatsapp {
	background: url("svg/sprite.css-9810704f.svg") 0 0 no-repeat;
}

.svg-svg_whatsapp-dims {
	width: 682px;
	height: 682px;
}

