body {
  font-family: $font-a;
}

a {
  text-decoration: none;
}

.swiper-wrapper {
  // overflow: hidden;
}

#slider-forms {
  overflow: hidden;
}

#allproducts {
  display: none;
}

.artimage {
  max-width: 100%;
  img {
    max-width: 100%;
  }
}
.valerror {
  position: absolute;
  top: -6px;
  left: 45px;
  font-size: 0.7rem;
  color: red;
}
