/**
  Контрольные точки
*/

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1920px
) !default;

/**
  Часто используемые цвета
*/

$color-a: #f9c606;
$color-b: #674701;
$color-c: #af8b05;
$color-d: #48484a;
$color-e: #d7cdc1;
$color-f: #917556;
$color-g: #c7c7c7;
$color-h: #917556;
$color-i: #342c24;
$color-j: #654c1a;

/* 
  Шрифты
*/

$font-a: "Avenir Next Cyr", sans-serif;
$font-b: "star";
